$primary: #F3EAF1;
$brown: rgb(51, 21, 21);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


body {
    color: purple;
}

a {
    color: purple;
    margin-right: 20px;
}

a:hover {
    color: rebeccapurple;
    text-decoration: none;
}

/*Header*/
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: purple;
}

.navbar-dark .navbar-nav .nav-link {
    color: purple;
    font-size: 20px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: rebeccapurple;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: black;
}

/*Jumbotron*/
.jumbotron {
    color: black;
}

h3 {
    color: black;
}


/*Content*/
.card {
    align-items: center;
    margin: 10px;
    border: $primary solid 2px;
    padding: 5px;
}

.btn {
    padding-top: 5px;
    align-self: stretch;
    transform: scale(1);
    color: purple;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;


    &:hover {
        transform: scale(1.25);
        color: purple;
    }

}

select {
    margin-left: 10px;
}

h6 {
    margin-top: 10px;
}

.boutonChoix .btn {
    margin: 2px 10px;
}
#formulaire {
    display: flex;
    justify-content: center;
}
#monformulaire {
    display: flex;
   flex-direction: column;
}

.boutonChoix {
    text-align: center;
}

/*Footer*/

.social {
    color: $brown;
    font-size: 20px;
    cursor: pointer;
}

.text-center {
    font-size: 20px;
}

/*Mentions légales*/ 
.titre {
    color: black;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.content {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

/*Responsive*/

@media screen and (max-width: 1024px) {

    /*Header*/
    .navbar-dark .navbar-nav .nav-link {
        font-size: 26px;
    }

    /*Content*/
    #monformulaire, .table, p {
        font-size: 24px;
    }

    /*Footer*/ 
    .text-center, .social {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {

    /*Header*/
    .navbar-dark .navbar-nav .nav-link {
        font-size: 20px;
    }
    .navbar-expand {
        flex-flow: column wrap;
    }

    /*Content*/

    .container {
        margin-left: 6px;
    }

    #monformulaire, .table, p {
        font-size: 15px;
    }

    /*Footer*/
    .text-center, .social {
        font-size: 15px;
    }

}

